# Ignorar conteúdo de data/ (mas não o diretório em si)
data/*
docs/

# EXCEÇÃO: permitir somente os datalake.db dentro de data/datalake/*/
!data/datalake/
data/datalake/*
!data/datalake/*/
data/datalake/*/*
!data/datalake/*/datalake.db

# EXCEÇÃO: permitir somente os .db dentro de data/baterias/*/
!data/baterias/
data/baterias/*
!data/baterias/*/
data/baterias/*/*
!data/baterias/*/*.db


# Ignorar banco de dados e arquivos pesados (fora de data/)
*.parquet 
*.duckdb
*.sqlite 
*.joblib

# Ignorar arquivos de cache do Python e Jupyter 
__pycache__/ 
*.pyc 
.ipynb_checkpoints/
venv/
.env

# Ignorar logs, saídas e arquivos temporários
*.log
*.zip
*.txt